.overview-product_container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10rem auto;
  grid-template-areas: 'image section';

  & .overview-product_image {
    grid-area: image;
    width: 10rem;
    height: 10rem;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }

  & .overview-product_section {
    grid-area: section;
    display: flex;
    flex-direction: column;

    & .overview-product_name {
      cursor: pointer;
    }
  }
}
