.category_container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 2px solid red;

  &:hover {
    text-decoration: underline;
  }
}

.arduino-category_container,
.pi-category_container {
  justify-content: center;
  width: 95%;
  height: 11rem;
  background-color: #ffca28;

  & .arduino-category_title,
  & .pi-category_title {
    font-size: 1.7rem;
    font-weight: 700;
  }

  & .board-slogan {
    font-size: 1.1rem;
  }
}

.featured-category-category_container {
  justify-content: flex-start;
  width: 6.5rem;
  height: 9rem;

  & .featured_background-image {
    width: auto;
    height: 6rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

  & .featured-category-category_title {
    text-align: center;
    overflow-wrap: break-word;
  }
}
